{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12"><h2>Les véhicule</h2></div>

            <form class="form-inline float-right" action="{% url 'SearchVéhicule' %}">
                <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Recherche" aria-label="search1" name="Véhicule">
                </div>
            </form>
        </br>
        </br>
        </br>
            <div class="col-md-12" >
                <a class="btn btn-secondary float-right" data-toggle="modal" data-target="#addvéhModal"><i class="fas fa-plus"> Ajouter </i></a>
            </div>
    </br>
    </br>
    </br>
    </br>
            {% if list_véhicule %}
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="h6"> Nom </th>
                                <th class="h6"> Matricule </th>
                                <th class="h6"> Designation </th>
                                <th class="h6"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for véhicule in list_véhicule %}
                            <tr>
                            <td><a href="" class="h6">{{véhicule.Nom}}</a></td>
                            <td><a href="" class="h6">{{véhicule.Matricule}}</a></td>
                            <td><a href="" class="h6">{{véhicule.Designation}}</a></td>
                            <td>
                                <a href="{% url 'modifier-véhicule' véhicule.pk %}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                <a href="{% url 'supprimer-véhicule' véhicule.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% for véhicule in list_véhicule %}
            {% endfor %}
            {% else %}
            <h3>vous n'avez aucune véhicule</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}